.navbar {
  background-color: rgba(42, 103, 236, 0.507);
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
  box-shadow: 1px 1px 5px 1px rgb(9, 26, 73);
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1rem;
  background: none;
  color: white;
}

.arrow {

  position: absolute;
  margin-left: 150px;
}

.nav-menu {
  background-color: rgba(12, 66, 136, 0.521);
  width: 200px;
  height: 100vh;
  box-shadow: 0px 0px 5px 0px rgb(46, 65, 100);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -250px;
  transition: 0.3s;
  padding-top: 100px;
  z-index: -1;
}

.nav-menu.active {
  left: 0;
  transition: 0.5s;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 10px 10px 10px;
  list-style: none;
  height: 60px;
  text-decoration: none;
}

.nav-text:hover {
  background-color: rgb(43, 76, 226);
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 20px;
}

.more-side {
  display: flex;
  width: 250px;
  height: auto;
  position: fixed;
  left: 255px;
  margin-top: 50px;
  /* border-top-right-radius: 50px; */
  background: rgba(12, 66, 136, 0.521);
  visibility: hidden;
}

.more-side.active {
  visibility: visible;
  transition: 0.5s;
}

.more-side-menu {
  width: 100%;
}

.nav-text span {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 4px;
}


.sub-text span {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 4px;
}

.sub-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  list-style: none;
  height: 50px;
  background-color: rgba(7, 10, 48, 0.692);
  text-decoration: none;
}

.sub-text:hover {
  background-color: rgb(43, 76, 226);
}

.doc-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 10px 10px 10px;
  list-style: none;
  height: 40px;
  background-color: rgb(229, 230, 238);
  text-decoration: none;
}

.doc-text span {

  color: rgb(0, 0, 0);
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 4px;
}

.doc-text:hover {
  background-color: rgb(43, 76, 226);
}

.pop-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  list-style: none;
  height: 50px;
  text-decoration: none;
}

.pop-text span {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  border-radius: 4px;
}


