@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.Maps {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2; }
